name: Deploy Static Website to GitHub Pages & My Portfolio

on:
  push:
    branches:
      - main
    paths:
      - index.html

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: show list of files
        run: ls -la

      - name: List files recursively
        run: find . -type f